---
layout: default

jumbotron:
  title: A Fresh Take on Documents
  lead: Doksi is an open source solution for creating and collaborating around documents.
  text: It comes with an intuitive and user-friendly editor for writing and sharing RST based documents.
  button:
    url: #highlights
    label: Learn more

highlights:
  - title: Intuitive block editor
    text: Compose documents using our user friendly WYSIWYG editor. Documents are composed of blocks which can be anything from a simple paragraph to a table or an code block. Blocks can be reordered by dragging them around. Each block is stored as a separate RST file.
    image: assets/images/highlights/block-editor.gif

  - title: Strong encryption
    text: Documents are often home to the most sensitive information for any organization. Documents can be encrypted using the AES algorithm. Encryption is made locally on the client before the encrypted document is sent to the server. This minimizes the exposure in case an attacker gets access to the server.
    image: assets/images/highlights/encrypted-file.png

  - title: External authentication
    text: Doksi does not have any internal authentication. This is not a missing feature but a deliberate choice. Most users and organizations already use an authentication provider and developing yet another one is not just a waste of time but would also increase the attack surface of Doksi. Instead it integrates with external providers such as Google, Office 365 and Keycloak.
    image: assets/images/highlights/authentication.png

  - title: Dynamic content
    text: Make your documents dynamic by using Jinja templating and JSON data. This makes it possible to generate reports from test results, generate documentation from code, or define certain values such as version number and checksum at an external location.
    image: assets/images/highlights/dynamic-content.png

  - title: Automatic security scanning
    text: When we develop Doksi every change is continuously scanned for possible security vulnerabilities. We perform both static and dynamic scans of the actual code, and scans of the dependencies and the container image. This helps us ensure high security over time.
    image: assets/images/highlights/security-dashboard.png

  - title: Export to multiple formats
    text: Documents can be exported to a number of different formats such as PDF, ePUB and HTML. By using the API this can be done automatically as part of a process, such as a release of your software.
    image: assets/images/highlights/formats.png

  - title: Easy collaboration
    text: While you may have a few private documents, it is very common for multiple people to work on a document. Authors, reviewers, readers. To make collaboration easy you can create teams and share documents among member of the team. Documents can also be shared with other teams, or with individual users.
    image: assets/images/highlights/collaboration.png

  - title: Containerized deployment
    text: Deployment of Doksi is made easy with an official container and Ansible playbook. Doksi comes with built in deployment resources for Docker, Podman, Kubernetes, OpenShift and Heroku. This makes deployment and operations quick and easy.
    image: assets/images/highlights/containers.png

upcoming:
  - text: Use git to enable revision history
    icon: fas fa-history

  - text: Approval process for changes to documents
    icon: fas fa-user-check

  - text: Export to Microsoft Word
    icon: fas fa-file-word

  - text: Ansible content for deployment and operations
    icon: fas fa-cogs

  - text: Integration with Elastic Stack for log management
    icon: fas fa-file-export

  - text: Integration with Prometheus and Grafana for monitoring
    icon: fas fa-chart-bar

  - text: Integration with GitLab Issues for task management
    icon: fas fa-tasks

  - text: Ability to grant permissions on Block level
    icon: fas fa-share-square

cards:
  - title: For the enterprise
    text: Keep documents secure and organized with Doksi in your enterprise. Enjoy enterprise features such as audit logs, automatic deployment, streamlined operations and strong encryption.
    button:
      label: Foo
      url: /blog

  - title: For the developer
    text: Generate API documentation from your code, use code snippets, tips and warnings when writing user guides, or use the Doksi API to publish documentation as part of your CI.
    button:
      label: Foo
      url: /blog

  - title: For the casual user
    text: Quickly create documents for personal use with a user friendly block editor. Blocks can easily be dragged around and quickly apply themes when exporting the document.
    button:
      label: Foo
      url: /blog

---

<div class='jumbotron-wrapper' style='background-image: url("{{ "assets/images/desk-from-above.jpg" | relative_url }}")'>
  <div class='jumbotron'>
    <h1 class="display-4">
      {{ page.jumbotron.title }}
    </h1>
    <p class="lead">
      {{ page.jumbotron.lead }}
    </p>
    <hr class="my-4">
    <p>
      {{ page.jumbotron.text }}
    </p>
    <a class="btn btn-primary btn-lg" href="#highlights" role="button">
      {{ page.jumbotron.button.label }}
    </a>
  </div>
</div>

<div class='container-fluid'>
  <div class='bg-primary mb-5 py-3 row text-light'>
    <div class='col-4 text-center'>
      <i class='fa fa-check'></i>
      Open source
    </div>
    <div class='col-4 text-center'>
      <i class='fa fa-check'></i>
      On-premise or cloud
    </div>
    <div class='col-4 text-center'>
      <i class='fa fa-check'></i>
      User friendly
    </div>
    <a id='highlights'></a>
  </div>
</div>

<div class='container highlights mt-5'>

  {% for highlight in page.highlights %}
  {% assign mod2 = forloop.index | modulo: 2 %}
  <div class='row highlight d-flex'>

    {% if mod2 == 0 %}
    <div class='col-md-6 order-sm-2'>
    {% else %}
    <div class='col-md-6 order-sm-1'>
    {% endif %}
      <img src='{{ highlight.image | relative_url }}' class='img-fluid pb-3' />
    </div>

    {% if mod2 == 0 %}
    <div class='col-md-6 px-md-5 order-sm-1'>
    {% else %}
    <div class='col-md-6 px-md-5 order-sm-2'>
    {% endif %}
      <h2>{{ highlight.title }}</h2>
      <p>{{ highlight.text }}</p>
    </div>
  </div>

  {% endfor %}
</div>


<div class='container mb-5 pb-5'>
  <div class='row'>
    <div class='col-xl-10 col-12 offset-xl-1'>

      <div class="card-deck">
        {% for card in page.cards %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class='container upcoming'>
  <div class='row'>
    <div class='col-xl-8 col-lg-10 col-12 offset-xl-2 offset-lg-1'>
      <div class='bg-primary px-3 pt-3 pb-2 text-light text-uppercase font-weight-bold'>
        <h5>Upcoming features</h5>
      </div>
      <table class="table table-bordered">
        <tbody>
          {% for feature in page.upcoming %}
          <tr>
            <th class='text-center align-middle'>
              <h3>
                <i class='{{ feature.icon }}'></i>
              </h3>
            </th>
            <td class='align-middle'>
              {{ feature.text }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
