---
layout: default
title: Pricing
permalink: /pricing
nav: pricing
---

<div class='container pricing mt-3 mt-md-5'>

  <div class='card-deck mb-3 text-center'>

    <div class='card mb-4 mt-lg-4 box-shadow'>
      <div class='card-header'>
        <h4 class='my-0 font-weight-normal'>
          Free
        </h4>
      </div>
      <div class='card-body d-flex flex-column'>
        <div class='flex-grow-1'>
          <h1 class='card-title pricing-card-title'>
            $0
            <small class='text-muted'>
              / user
            </small>
          </h1>
          <ul class='list-unstyled mt-3 mb-4'>
            <li>5 documents included</li>
            <li>Community support</li>
            <li>Sharing</li>
            <li>Block editor</li>
          </ul>
        </div>
        <div>
          <a href='https://doksi.herokuapp.com/sign_in' class='btn btn-lg btn-block btn-outline-primary'>
            Sign up for free
          </a>
        </div>
      </div>
    </div>

    <div class='card mb-4 box-shadow'>
      <div class='card-header bg-primary text-light'>
        <h4 class='my-0 font-weight-normal'>
          Standard
        </h4>
      </div>
      <div class='card-body d-flex flex-column'>
        <div class='flex-grow-1'>
          <h1 class='card-title pricing-card-title'>
            $5
            <small class='text-muted'>
              / user
            </small>
          </h1>
          <ul class='list-unstyled mt-3 mb-4'>
            <li>Everything from <i>Free</i></li>
            <li>Unlimited documents</li>
            <li>Email support</li>
            <li>Teams</li>
            <li>No ads</li>
          </ul>
        </div>
        <div>
          <button class='btn btn-lg btn-block btn-primary' type='button'>
            Buy now
          </button>
        </div>
      </div>
    </div>

    <div class='card mb-4 mt-lg-4 box-shadow'>
      <div class='card-header'>
        <h4 class='my-0 font-weight-normal'>
          Premium
        </h4>
      </div>
      <div class='card-body d-flex flex-column'>
        <div class='flex-grow-1'>
          <h1 class='card-title pricing-card-title'>
            $10
            <small class='text-muted'>
              / user
            </small>
          </h1>
          <ul class='list-unstyled mt-3 mb-4'>
            <li>Everything from <i>Standard</i></li>
            <li>Content encryption</li>
            <li>Partial sharing</li>
            <li>On premise deployment</li>
            <li>Role based access control</li>
          </ul>
        </div>
        <div>
          <button class='btn btn-lg btn-block btn-outline-primary' type='button'>
            Buy now
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class='mt-5 text-center'>
    Still have questions?
    <div class='my-5'>
      <a href='mailto:ephracis+doksi@gmail.com' class='btn btn-primary btn-lg'>Contact us</a>
    </div>
  </div>
</div>
