<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='shortcut icon' type='image/png' href='{{ "assets/images/logo-blue-32.png" | relative_url }}'>

  <title>{% if page.title %}{{ page.title }} {{ site.title-separator | default: '-' }} {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}

  {% if layout.css %}
    {% for css in layout.css %}
      {% include css.html css=css %}
    {% endfor %}
  {% endif %}
</head>
