<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-primary py-1">
  <a class="navbar-brand" href="{{ '/' | absolute_url }}">
    <img src='{{ "assets/images/logo-white.svg" | relative_url }}' width='24' height='24' loading='lazy'
          class='align-middle pb-1'>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {%- for link in layout.navbar-links -%}
      {%- assign current_nav = page.nav | default('blog') -%}
      {%- if current_nav == link.name -%}
      <li class='nav-item active'>
      {%- else -%}
      <li class="nav-item">
      {%- endif -%}
        <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
    <ul class='navbar-nav'>
      <li class='nav-item d-none d-lg-block mr-2'>
        <a class='btn btn-sm btn-success m-1' href='{{ layout.demo_url }}'>Demo</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='{{ layout.source_url }}'>Source code</a>
      </li>
    </ul>
  </div>
</nav>
