{% if include.script.sri %}
  <script src="{{ include.script.href }}" integrity="{{ include.script.sri }}" crossorigin="anonymous"></script>
{% elsif include.script.href %}
  <script src="{{ include.script.href }}" crossorigin="anonymous"></script>
{% else %}
  <script src="{{ include.script }}"></script>
{% endif %}
