<div class="card">
{%- for category in site.categories %}
  <div class="card-header">
    {% if category[0] == 'releases' %}
    🚀
    {% endif %}
    {{ category[0] | capitalize }}
  </div>
  <ul class="list-group list-group-flush">
    {% for post in category[1] %}
    <li class="list-group-item">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {%- endfor %}
  </ul>
{%- endfor %}
</div>
