html {
  scroll-behavior: smooth;
}

main > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 400px;
  margin: 0;
}

.jumbotron-wrapper {
  background-position: center;
  background-size: cover;
}

.highlights .highlight {
  margin-bottom: 10rem;
}

.about .strike-heading {
  text-align: center;
  position: relative;
  height: 20px;
  margin: 50px 0 15px;
}

.about .strike-heading:first-of-type {
  margin-top: 0;
}

.about .strike-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  z-index: -1;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.about .strike-heading h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: rgb(127, 132, 148);
  line-height: 20px;
  vertical-align: middle;
  background: white;
  padding: 0 15px;
  display: inline-block;
}
