---
layout: blog
title: Blog
subtitle: Latest news and updates
nav: blog
---

{% for post in site.posts %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ post.image | relative_url }}" class="card-img" alt="Release poster">
    </div>
  
    <div class="col-md-8">
      <div class="card-body">
          <a href="{{ post.url | relative_url }}">
            <h5 class="card-title">{{ post.title | escape }}</h5>
          </a>
        <p class="card-text">
          {{ post.excerpt }}
        </p>
        <p class="card-text"><small class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
