---
layout: default
---

<div class="container mt-lg-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      {{ content }}
    </div>
    <div class="col-12 col-lg-4 d-none d-lg-block">
      {% include sidebar.html %}
    </div>
  </div>
</div>
