---
css:
  - href: https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
    sri: sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk
  - assets/css/doksi.css

scripts:
  - href: https://code.jquery.com/jquery-3.5.1.slim.min.js
    sri: sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj
  - href: https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js
    sri: sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo
  - href: https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js
    sri: sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI
  - href: https://kit.fontawesome.com/1caed69f07.js

navbar-links:
  - title: Pricing
    url: /pricing
    name: pricing

  - title: Blog
    url: /blog/
    name: blog

  - title: About
    url: /about
    name: about

demo_url: https://doksi.herokuapp.com
source_url: https://gitlab.com/ephracis/doksi
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class='d-flex flex-column bg-light'>
    {% include navbar.html %}
    
    <main class="flex-shrink-0 bg-white pb-5" role='main'>
      {{ content }}
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html
