---
layout: default
---

<div class="container-md mt-5" role="main">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      <h1>
        {{ page.title }}
      </h1>
      {{ content }}
    </div>
  </div>
</div>
